<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <div class="offset-5">
        <span class="text-muted"> &copy; projectManagement-by-vikasBareth</span>
    </div>
    </div>
</footer>