<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">projectManagement</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/">Home</a>
          <a class="nav-link" href="/projects">All Project</a>
          <a class="nav-link" href="/projects/new">New Project</a>
        </div>
        <div class="navbar-nav ms-auto">
          <%if(!currentUser){%>
          <a href="/login" class="nav-link">login</a>
          <a href="/register" class="nav-link">register</a>
          <%} else{%>
            <div class="dropdown">
              <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false"> <i class="fas fa-user mx-1"></i><%=currentUser.username%> </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li>
                    <a class="dropdown-item" href="/logout">Log out</a>
                </li>
            </ul>
            </div>
          <%}%>
        </div>

      </div>
    </div>
  </nav>
  